# Import & Configure

In [8]:
#import 

import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
import warnings
import matplotlib as mpl
from tqdm import tqdm as tq

# 유니코드 깨짐현상 해결
mpl.rcParams['axes.unicode_minus'] = False

# 나눔고딕 폰트 적용
plt.rcParams["font.family"] = 'AppleGothic'

# 경고 무시
warnings.filterwarnings('ignore')
%matplotlib inline

# Reading data

In [3]:
mypath=["C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_01_DEMO.csv","C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_02_PDDE.csv","C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_03_COP_U.csv","C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_04_PD_CLAC.csv","C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_05_BR.csv","C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_06_LPAY.csv"]
demo = pd.read_csv("C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_01_DEMO.csv")
pd_de = pd.read_csv("C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_02_PDDE.csv")
cop_u = pd.read_csv("C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_03_COP_U.csv")
pd_ca = pd.read_csv("C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_04_PD_CLAC.csv")
branch = pd.read_csv("C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_05_BR.csv")
lpay = pd.read_csv("C:\\Users\wjddb\LotteMembers\LPOINT_BIG_COMP\LPOINT_BIG_COMP_06_LPAY.csv")

demo = pd.DataFrame(demo)
pd_de = pd.DataFrame(pd_de)
cop_u = pd.DataFrame(cop_u)
pd_ca = pd.DataFrame(pd_ca)
branch = pd.DataFrame(branch)
lpay = pd.DataFrame(lpay)
# print("####### DEMO #######")
# print(demo.info)
# print("####### PD_DE #######")
# print(pd_de.info())
# print("####### COP_U #######")
# print(cop_u.info())
# print("####### PD_CA #######")
# print(pd_ca.info())
# print("####### BRANCH #######")
# print(branch.info())
# print("####### LPAY #######")
# print(lpay.info())

demo.columns = ['고객번호', '성별', '나이대', '지역']
pd_de.columns = ['고객번호', '영수증번호', '온오프', '제휴사코드', '구매점포코드', '상품코드', '거래날짜', '거래시간', '구매금액', '구매수량']
cop_u.columns = ['고객번호', '영수증번호', '제휴사코드', '구매점포코드', '온오프', '거래날짜', '방문일', '거래시간', '구매금액']
pd_ca.columns = ['상품코드', '상품이름', '상품대분류', '상품소분류']
branch.columns = ['구매점포코드', '제휴사구분코드', '지역', '지역소분류']
lpay.columns = ['고객번호', '영수증번호', '제휴사코드', '온오프', '거래날짜', '거래시간', '구매금액']

# DATASET MERGE

In [4]:

# demo + pd_de + cop_u +  pd_ca
cust = []  #고객 유형 만드는 함수
for i in range(len(demo)):
    if demo.성별[i] == '여성':
        if demo.나이대[i] == '10대':
            cust.append('F10')
        elif demo.나이대[i] == '20대':
            cust.append('F20')
        elif demo.나이대[i] == '30대':
            cust.append('F30')
        elif demo.나이대[i] == '40대':
            cust.append('F40')
        elif demo.나이대[i] == '50대':
            cust.append('F50')
        elif demo.나이대[i] == '60대':
            cust.append('F60')
        else:
            cust.append('F70')
    else:
        if demo.나이대[i] == '10대':
            cust.append('M10')
        elif demo.나이대[i] == '20대':
            cust.append('M20')
        elif demo.나이대[i] == '30대':
            cust.append('M30')
        elif demo.나이대[i] == '40대':
            cust.append('M40')
        elif demo.나이대[i] == '50대':
            cust.append('M50')
        elif demo.나이대[i] == '60대':
            cust.append('M60')
        else:
            cust.append('M70')
demo['성별나이'] = cust

**DEMO + PD_DE + PD_CA**

In [5]:
# demo + pd_data
pd_data = pd.merge(pd_de, pd_ca)
pd_data = pd.merge(pd_data, demo)
cop = pd.merge(demo, cop_u)
data1234 = pd.concat((pd_data, cop), axis=0)
data1234.head()

,고객번호,영수증번호,온오프,제휴사코드,구매점포코드,상품코드,거래날짜,거래시간,구매금액,구매수량,상품이름,상품대분류,상품소분류,성별,나이대,지역,성별나이,방문일
0,M430112881,A01000001113,1,A01,A010039,PD0290,20210101,10,15000.0,1.0,남성티셔츠,남성의류,남성의류상의,여성,50대,Z17,F50,NaN
1,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1.0,남성티셔츠,남성의류,남성의류상의,여성,50대,Z17,F50,NaN
2,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1.0,남성티셔츠,남성의류,남성의류상의,여성,50대,Z17,F50,NaN
3,M430112881,A01000004946,1,A01,A010039,PD0290,20210101,10,19000.0,1.0,남성티셔츠,남성의류,남성의류상의,여성,50대,Z17,F50,NaN
4,M430112881,A01000005297,1,A01,A010039,PD1692,20210101,10,9900.0,1.0,커피/음료,테넌트/음식점,식당,여성,50대,Z17,F50,NaN

**CREATING NEW COLUMNS**

*거래날짜에서 거래요일 추출.*
*LPAY 고객번호로 회원유무 추출.*
*상품대분류 및 상품이름에서 상품클래스 추출.*

In [6]:
# 요일 추출.
data1234['거래날짜'] = pd.to_datetime(data1234['거래날짜'],format='%Y%m%d')
data1234['거래요일'] = data1234['거래날짜'].dt.dayofweek #0:월요일
data1234['거래요일'].replace({0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일'})

0         금
1         금
2         금
3         금
4         금
         ..
248299    토
248300    목
248301    금
248302    금
248303    월
Name: 거래요일, Length: 4630047, dtype: object

**DEMO + PD_DE + COP_U + PD_CA + LPAY**

In [11]:
# demo + pd_de + cop_u + pd_ca + lpay
lpay_cu = lpay['고객번호'].drop_duplicates().reset_index(drop=True)
lpay_cu = lpay_cu.values.tolist()

data1234_cu = pd.DataFrame(data1234['고객번호'].drop_duplicates().reset_index(drop=True), columns=["고객번호"])
lpay_list = data1234_cu

l = []
for i in range(len(lpay_cu)):
    l.append(lpay_cu[i])


l_cust = []
for i in tq(range(len(data1234_cu))):
    if data1234_cu.고객번호[i] in l:
        l_cust.append('1')
    else:
        l_cust.append('0')
lpay_list = pd.DataFrame(lpay_list, columns=['고객번호', '회원유무'])
lpay_list['회원유무'] = l_cust
print(lpay_list)

data12346 = pd.merge(data1234, lpay_list)

100%|██████████████████████████████████████████████████████████████████████████| 29756/29756 [00:12<00:00, 2467.37it/s]

             고객번호 회원유무
0      M430112881    0
1      M506355556    1
2      M900002349    0
3      M694209751    1
4      M123475113    0
...           ...  ...
29751  M998572907    0
29752  M999428656    0
29753  M999493501    0
29754  M999708287    0
29755  M999926092    0

[29756 rows x 2 columns]

In [12]:
#상품대분류 다시 정리
list1 = ['조미료', '수산물', '음료', '채소', '축산물', '유제품', '냉장식품', '건해산물', '대용식', '과일',
         '과자', '병통조림', '조리식품', '양곡', '냉동식품', '커피/차', '테넌트/음식점']
list2 = ['남성의류', '속옷/양말/홈웨어', '패션잡화', '여성의류', '퍼스널케어', '화장품/뷰티케어']
list3 = ['시즌스포츠', '구기/필드스포츠', '스포츠패션', '아웃도어/레저']
list4 = ['주방잡화', '청소/세탁/욕실용품', '생활/렌탈서비스', '공구/안전용품', '세제/위생', '자동차용품']
list5 = ['식기/조리기구', '침구/수예', '가구', '인테리어/조명']
list6 = ['냉장/세탁가전', '생활/주방가전', '영상/음향가전', '모바일''계절가전', '컴퓨터']
list7 = ['서적/음반/악기', '여행/레저서비스', '원예/애완', '상품권']
list8 = ['유아동의류', '완구', '유아식품', '출산/육아용품']
list9 = ['문구/사무용품']
list10 = ['주류', '담배']
list11 = ['건강용품', '건강식품', '헬스/피트니스', '금융/보험서비스']
list12 = ['기타(비상품)', '기타상품']
#상품
clas = []  #고객 유형 만드는 함수
for i in tq(range(len(data12346))):
    if data12346.상품대분류[i] in list1:
        clas.append('식품')
    elif data12346.상품대분류[i] in list2:
        clas.append('패션')
    elif data12346.상품대분류[i] in list3:
        clas.append('스포츠')
    elif data12346.상품대분류[i] in list4:
        clas.append('생활')
    elif data12346.상품대분류[i] in list5:
        clas.append('인테리어')
    elif data12346.상품대분류[i] in list6:
        clas.append('가전')
    elif data12346.상품대분류[i] in list7:
        clas.append('도서/취미')
    elif data12346.상품대분류[i] in list8:
        clas.append('유아')
    elif data12346.상품대분류[i] in list9:
        clas.append('문구')
    elif data12346.상품대분류[i] in list10:
        clas.append('주류')
    elif data12346.상품대분류[i] in list11:
        clas.append('건강')
    else:
        clas.append('기타')

data12346['상품클래스'] = clas

100%|█████████████████████████████████████████████████████████████████████| 4630047/4630047 [04:38<00:00, 16609.83it/s]

**CHECK**

In [13]:
print(data12346.info())
print("########################################")
print(data12346.isna().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4630047 entries, 0 to 4630046
Data columns (total 21 columns):
 #   Column  Dtype
---  ------  -----
 0   고객번호    object
 1   영수증번호   object
 2   온오프     int64
 3   제휴사코드   object
 4   구매점포코드  object
 5   상품코드    object
 6   거래날짜    datetime64[ns]
 7   거래시간    int64
 8   구매금액    float64
 9   구매수량    float64
 10  상품이름    object
 11  상품대분류   object
 12  상품소분류   object
 13  성별      object
 14  나이대     object
 15  지역      object
 16  성별나이    object
 17  방문일     float64
 18  거래요일    int64
 19  회원유무    object
 20  상품클래스   object
dtypes: datetime64[ns](1), float64(3), int64(3), object(14)
memory usage: 777.1+ MB
None
########################################
고객번호            0
영수증번호           0
온오프             0
제휴사코드           0
구매점포코드     428556
상품코드       248304
거래날짜            0
거래시간            0
구매금액            0
구매수량       248304
상품이름       248304
상품대분류      248304
상품소분류      248304
성별              0
나이대             0
지역              0
성별나이            0
방문일       4381743
거래요일            0
회원유무            0
상품클래스           0
dtype: int64

# Missings

In [15]:
# 제휴사 채우기.
data12346['상품이름'] = np.where(data12346['제휴사코드'] == 'B01', '숙박업종', data12346['상품이름'])
data12346['상품대분류'] = np.where(data12346['제휴사코드'] == 'B01', '숙박업종', data12346['상품대분류'])
data12346['상품소분류'] = np.where(data12346['제휴사코드'] == 'B01', '숙박업종', data12346['상품소분류'])
data12346['상품이름'] = np.where(data12346['제휴사코드'] == 'C02', '엔터테인먼트', data12346['상품이름'])
data12346['상품대분류'] = np.where(data12346['제휴사코드'] == 'C02', '엔터테인먼트', data12346['상품대분류'])
data12346['상품소분류'] = np.where(data12346['제휴사코드'] == 'C02', '엔터테인먼트', data12346['상품소분류'])
data12346['상품이름'] = np.where(data12346['제휴사코드'] == 'C01', '엔터테인먼트', data12346['상품이름'])
data12346['상품대분류'] = np.where(data12346['제휴사코드'] == 'C01', '엔터테인먼트', data12346['상품대분류'])
data12346['상품소분류'] = np.where(data12346['제휴사코드'] == 'C01', '엔터테인먼트', data12346['상품소분류'])
data12346['상품이름'] = np.where(data12346['제휴사코드'] == 'D01', 'F&B', data12346['상품이름'])
data12346['상품대분류'] = np.where(data12346['제휴사코드'] == 'D01', 'F&B', data12346['상품대분류'])
data12346['상품소분류'] = np.where(data12346['제휴사코드'] == 'D01', 'F&B', data12346['상품소분류'])
data12346['상품이름'] = np.where(data12346['제휴사코드'] == 'D02', 'F&B', data12346['상품이름'])
data12346['상품대분류'] = np.where(data12346['제휴사코드'] == 'D02', 'F&B', data12346['상품대분류'])
data12346['상품소분류'] = np.where(data12346['제휴사코드'] == 'D02', 'F&B', data12346['상품소분류'])
data12346['상품이름'] = np.where(data12346['제휴사코드'] == 'E01', '렌탈업종', data12346['상품이름'])
data12346['상품대분류'] = np.where(data12346['제휴사코드'] == 'E01', '렌탈업종', data12346['상품대분류'])
data12346['상품소분류'] = np.where(data12346['제휴사코드'] == 'E01', '렌탈업종', data12346['상품소분류'])
# 구매수량이 없는 고객은 최소의 수로 1 증여.
data12346['구매수량']=data12346['구매수량'].fillna(1)

aa = data12346.drop_duplicates(subset="고객번호")
aa.value_counts("회원유무")

회원유무
0    20968
1     8788
dtype: int64

**DELETING RESIDUE COLUMNS**

In [16]:
# 필요없는 column 삭제
print(data12346.info())
columns_we_dont_need = ['방문일','성별','나이대','구매점포코드','상품코드']
data12346.drop(columns_we_dont_need,axis=1,inplace=True)
print(data12346.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4630047 entries, 0 to 4630046
Data columns (total 21 columns):
 #   Column  Dtype
---  ------  -----
 0   고객번호    object
 1   영수증번호   object
 2   온오프     int64
 3   제휴사코드   object
 4   구매점포코드  object
 5   상품코드    object
 6   거래날짜    datetime64[ns]
 7   거래시간    int64
 8   구매금액    float64
 9   구매수량    float64
 10  상품이름    object
 11  상품대분류   object
 12  상품소분류   object
 13  성별      object
 14  나이대     object
 15  지역      object
 16  성별나이    object
 17  방문일     float64
 18  거래요일    int64
 19  회원유무    object
 20  상품클래스   object
dtypes: datetime64[ns](1), float64(3), int64(3), object(14)
memory usage: 777.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4630047 entries, 0 to 4630046
Data columns (total 16 columns):
 #   Column  Dtype
---  ------  -----
 0   고객번호    object
 1   영수증번호   object
 2   온오프     int64
 3   제휴사코드   object
 4   거래날짜    datetime64[ns]
 5   거래시간    int64
 6   구매금액    float64
 7   구매수량    float64
 8   상품이름    object
 9   상품대분류   object
 10  상품소분류   object
 11  지역      object
 12  성별나이    object
 13  거래요일    int64
 14  회원유무    object
 15  상품클래스   object
dtypes: datetime64[ns](1), float64(2), int64(3), object(10)
memory usage: 600.5+ MB
None